body {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(8,8,112,1) 22%, rgba(8,8,117,1) 28%, rgba(8,8,115,1) 36%, rgba(9,9,121,1) 41%, rgba(0,212,255,1) 100%);
}

button {
  cursor: pointer;
}